ul(class="row")
    each item in members
        li(class="col-md-4 col-sm-6 col-xs-6 item", id=item.id)
            div(class="thumbnail")
                img(src=item.image_url,class="avatar")
                div(class="caption")
                    h3= item.name
                    p= (item.intro.substring(0, 150) == item.intro ? item.intro : item.intro.substring(0, 150)+ '...')
                    //div(class="weibo")
                        img(src="/images/weibo.png")
                        span= item.weibo_snippet
                    a(href=item.weibo_url, target="_blank") #{item.weibo_url}
