doctype html
html( lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0;")
        title= "K2 创业网络"
        link(rel="stylesheet",type="text/css",href="/dist/styles/bootstrap.css")
        link(rel = "stylesheet", type = "text/css", href = "/dist/styles/item_mob.css")
        script(src="/dist/scripts/vendors/jquery/jquery-1.11.3.min.js")
        script(src="/dist/scripts/vendors/jquery/jquery.blockUI.js")
        script(src="/dist/scripts/vendors/underscore.js")
        script(src="/dist/scripts/vendors/bootstrap.min.js")
        script(src="/dist/scripts/vendors/masonry.js")
        script(src="/dist/scripts/vendors/imagesloaded.js")
        script(src="/dist/scripts/mobile/item.js")

    body
        div(class="itemPage")
            div(class="header")
                div(class="row searchBar")
                    div(class=" col-xs-8 closeBtn")
                        //img(src="/images/closeBtn.png")
                        img(src="/images/logo@2x.png")
                        span(class="closeTitle") K2 创业网络
                div(class="row")
                    div(class="col-xs-12 avatar")
                        img(src=image_url)
            div(class="container")
                h3= name
                div(class="dec") !{intro}
                div(class="weibo")
                    img(src="/images/weibo.png")
                    span()= weibo_snippet
                //img(src="/images/code.jpg" class="code")
                //a(href=weibo_url, class="url", target="_blank")= weibo_url
                div(class="url") !{weibo_url}
